/* ********* */
/* @VARIABLES */
/* ********* */

// COLORES

// texto
$color_texto_gris: #6d6d6d;
$color_texto_azul: #438fe6;

// fondo
$color_fondo_arriba: #eff6f6;

// botones
$color_boton: #438fe6;
