/* ********* */
/* @HOME */
/* ********* */

// PARTE DE ARRIBA


.arriba{
    background-color: $color_fondo_arriba;
    .arriba__texto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55vw;
        height: 90%;
        padding: 7% 2% 7% 7%;
        max-width: 50%;

        .texto__cita{
            border-left: 2px solid $color_texto_azul;
            color: $color_texto_azul;
        }

        .texto__boton{
        color: white;
        padding: 15px 12px;
        background-color: $color_boton;
        border-radius: 5px;
        width: 180px;
        text-align: center;
        }

        .texto__parrafo{
        color: $color_texto_gris;
        line-height: 23px;
        }
    }
}

.cita__contenido{
    padding-left: 20px;
}


.iphones_arriba{
    padding: 4% 7% 4% 0;
}




// PARTE DE ABAJO
.lista{
    list-style: none;
    color: $color_texto_gris;
    line-height: 28px;
}

.lista__componente::before{
    content: '✓ ';
    color: $color_texto_azul;
    padding-right: 5px;
}

.abajo__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55vw;
    height: 90%;
    padding: 7% 4%;
    max-width: 50%;
}

.iphones_abajo{
    padding: 4% 0 4% 7%;
}