/* ********* */
/* @GRID*/
/* ********* */

.arriba{
    display: flex;
    justify-content: space-between;
    height: 700px;
}


.abajo{
    display: flex;
    justify-content: space-between;
    height: 700px;
    flex-direction: row-reverse;
}